<main class="main">
  <button (click)="toggleMenu()" class="menu-toggle">☰</button>

  @if(isMenuOpen){
  <div class="overlay" (click)="toggleMenu()"></div>

  }

  <aside class="menu" [class.menu-open]="isMenuOpen">
    <section>
      <app-form (sendNew)="getDataForm($event)"></app-form>
    </section>
    <section>
      <app-news-list
        (newEmitter)="getNewSelected($event)"
        [newsList]="newsList"
      ></app-news-list>
    </section>
  </aside>

  <section class="content">
    <app-new-main [selectedNew]="selectedNew"></app-new-main>
  </section>
</main>
